# MongoDB Configuration
MONGODB_URI=tu_uri_de_mongodb
DB_NAME=Regnum_Hollow_Data_Base

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
